version: '3.9'

services:
  web:
    build: .
    command: gunicorn project.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: dj_tasks
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres16J
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6380:6379"

  worker:
    build: .
    command: celery -A project worker -l info --pool=solo
    volumes:
      - .:/app
    depends_on:
      - web
      - redis
      - db

  beat:
    build: .
    command: celery -A project beat -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - db

volumes:
  postgres_data: